.mySwiperWrap {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.mySwiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  top: 50%;
  z-index: 999;
}
.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
}
.hide {
    display: none;
}